/*Uses short margin*/
html {
    margin: 0px 50px 0px 20px;
}

@font-face {
    font-family: "brunoFont";
    src: url("BrunoAceSC-Regular.ttf");
  }

/* Media query*/
@media (max-width: 500px) {
    #possible-img {
        height: 100px;
        width: 200px;
    }
}

body {
    background-color: #FFEEDB;
}

/* Uses text-align*/
h1 {
    font-family: "brunoFont";
    font-size: 50px;
    text-align: center;
    position: static;
}

/* Uses text-decoration*/
h2 {
    font-family: "brunoFont";
    font-size: 40px;
    text-decoration-line: underline;
}

h3 {
    font: Arial;
    font-size: 30px;
}
/* Any button over which the user's pointer is hovering */
button:hover {
  color: rgb(255, 255, 255);
}

button:active {
    color: blue;
}

/*Uses short padding and margin auto*/
nav {
    font-size: 20px;
    margin: auto;
    padding: 10px 20px 10px 10px;
    border: 2px solid black;
}

/* Uses width and height*/
#possible-img {
    width: 500px;
    height: 250px;
}

/* Uses flexbox*/
#attendance-names {
    display:flex;
    padding: 10px;
    flex-wrap: wrap;
}

#attendance-names > div {
    background-color: #edd8c0;
    flex-grow: 1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

/* Uses relative units*/
.sign-up {
    font-size: 2vw;
}

/* Uses relative units, min-width and max-width*/
#concern {
    font-size: 2vh;
    margin: auto;
    min-width: 400px;
    max-width: 75%;
}

/*Uses long margin, and padding, and borders. Display inline*/
.sign-up {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 50px;
    border-style: dashed;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 50px;
    display: inline;
}

.wrapper {
    display: grid;
    grid-template-columns: [type] auto [content-input] 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 10px;
}

.wrapper > label  {
    grid-column: labels;
    grid-row: auto;
}

/* Text colors*/
#dog {
    color: #f3b33e;
}

#cat {
    color: black;
}

#parrot {
    color: red;
}

/* Uses relative units*/
#made-by {
    font-size: 2vw;
    position: relative;
    left: 82%;
}

/* Uses display*/
#smiley-face{
    display: none;
}